{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

  <div class="container--col container--width">
    <form class="container--col container--form neumorphism neumorphism--bg card card--margin-top" method="post">

      <h2 class="card__heading--margin-bottom">Log in</h2>
      {% csrf_token %}

      {{ form.login|add_class:'input' }}
      {{ form.password|add_class:'input' }}

      <button class="btn btn-login" type="submit">Log in</button>

      {% if form.errors %}
        <div class="errorlist-container">
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      <a class="link" href="{% url 'account_reset_password' %}">Forgot password?</a>
    </form>
  </div>

{% endblock content %}