{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block content %}

    <div class="container--col container--width">
        <h1 class="container__heading--left">{% trans "Password Reset" %}</h1>
        
        <div class="container__text--left">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </div>
        
        <p class="container__text--left">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>

{% endblock %}