{% extends "base.html" %}
{% load widget_tweaks%}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}



    <div class="container--col container--width">

        <div class="container--col container--form neumorphism neumorphism--bg card card--margin-top">

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                <h2 class="card__heading--margin-bottom text--center">{% trans "Password Reset" %}</h2>

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and you'll receive an e-mail allowing you to reset it." %}</p>
                {% csrf_token %}
                
                {% render_field form.email class="input" placeholder="Email" %}
                <input class="btn" type="submit" value="{% trans 'Reset my password' %}" />

                {% if form.errors %}
                    <div class="errorlist-container text--center">{{ form.email.errors }}</div>
                {% endif %}

                <p>Please <a class="link" href="{% url 'contact' %}">get in touch</a> if you have any trouble resetting your password.</p>
            </form>

        </div>
        
    </div>

    

{% endblock %}