{% extends "base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="container--col container--width">

        {% if token_fail %}
            <h1 class="container__heading--left">{% trans "Bad Token" %}</h1>
        {% endif %}

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="container__text--left">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="link" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}

            {% if form %}
                <div class="container--col container--form neumorphism neumorphism--bg card card--margin-top">
                    <h2 class="card__heading--margin-bottom text--center">{% trans "Change password" %}</h2>

                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.password1|add_class:'input' }}
                        {{ form.password2|add_class:'input' }}

                        <input class="btn" type="submit" name="action" value="{% trans 'Change password' %}"/>
                        
                        {% if form.errors %}
                            <div class="errorlist-container text--center">
                                {{ form.password2.errors }}
                            </div>
                        {% endif %}

                    </form>

                </div>

            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}

        {% endif %}

    </div>

{% endblock %}