{% extends "base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block content %}


    <div class="container--col container--width">

        <div class="container--col container--form neumorphism neumorphism--bg card card--margin-top">

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                <h2 class="card__heading--margin-bottom text--center">{% trans "Change password" %}</h2>
                {% csrf_token %}

                {{ form.oldpassword|add_class:'input' }}
                {{ form.password1|add_class:'input' }}
                {{ form.password2|add_class:'input' }}

                <button class="btn" type="submit" name="action">{% trans "Change Password" %}</button>

                {% if form.errors %}
                    <div class="errorlist-container text--center">
                        {{ form.oldpassword.errors }}
                        {{ form.password2.errors }}
                    </div>
                {% endif %}

                <p class="text--center"><a class="link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
                
                {% if messages %}
                    {% for message in messages %}
                        <p class="message">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </form>

        </div>
                
    </div>
    
{% endblock %}