{% extends 'base.html' %}

{% block content %}
  <h2>Sign up</h2>

  <form method="post">
    {% csrf_token %}
    <p class="form_field">
      <label for="id_username">Username</label>
      {{ form.username }}
    </p>
    <p class="form_field">
      <label for="id_email">Email address</label>
      {{ form.email }}
    </p>
    <p class="form_field">
      <label for="id_first_name">Name</label>
      {{ form.first_name }}
    </p>
    <p class="form_field">
      <label for="id_day">Date of birth</label>
      {{ form.day }}{{ form.month }}{{ form.year }}
    </p>
    <p class="form_field">
      <label for="id_password1">Password</label>
      {{ form.password1 }}
    </p>
    <p class="form_field">
      <label for="id_password2">Confirm password</label>
      {{ form.password2 }}
    </p>

    <button type="submit" id="btn_signup">Sign up</button>

    <p>
      {{ form.errors }}
    </p>
  </form>
{% endblock content %}
