{% extends 'base.html' %}

{% block content %}

<div class="container--col container--width">
  <form class="container--col container--form neumorphism neumorphism--bg card card--margin-top" method="post">
    
    <h2 class="card__heading--margin-bottom">Create an account</h2>
    {% csrf_token %}

    {{ form.username }}
    {{ form.email }}
    {{ form.first_name }}
    <div class="container">{{ form.day }}<span class="text--main form__dash">—</span>{{ form.month }}<span class="text--main form__dash">—</span>{{ form.year }}</div>
    {{ form.password1 }}
    {{ form.password2 }}
    <button class="btn" type="submit" id="btn_signup">Sign up</button>

    {% if form.errors %}
      <div class="errorlist-container">
        {{ form.username.errors }}
        {{ form.email.errors }}
        {{ form.first_name.errors }}
        {{ form.year.errors }}
        {{ form.password1.errors }}
        {{ form.password2.errors }}
      </div>
    {% endif %}

  </form>
</div>

{% endblock content %}
