[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
selenium = "*"
psycopg2-binary = "==2.9.1"
django-allauth = "==0.43.0"
django-livereload-server = "*"

[dev-packages]

[requires]
python_version = "3.9"
