:root {
    --bg-clr: hsl(0, 33%, 96%);
    --main-clr: hsl(190, 69%, 28%);
    --accent-clr: hsl(35, 100%, 58%);
    --dark-accent-clr: hsl(27, 100%, 43%);
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--bg-clr);
}

h1,
h2,
h3,
p {
    color: var(--main-clr);
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 6.4rem;
}

h2 {
    font-size: 3.2rem;
}

h3,
p,
a,
label {
    font-size: 1.6rem;
}

.week {
    border-radius: 10%;
    background: darkgray;
    height: 14px;
    width: 14px;
    font-size: 10px;
    text-align: center;
}

.week.past {
    background-color: rgba(169, 169, 169, 0.452);
    color: rgb(112, 112, 112);
}

.week.present {
    background-color: forestgreen;
}

/* FIXME: Event week overlaps tooltip */
.week.event {
    background-color: rgb(221, 4, 4);
    position: relative;
    color: black;
    position: relative;
    transition: 300ms;
    z-index: 1;
}

.all-tooltips {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.tooltip-content {
    font-size: 13px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 30px #00000040;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    text-align: center;
    width: max-content;
    /* max-width: 150px; */
    /* pointer-events: none; */
    z-index: 2;
    transform: translate(calc(-50% + 7px), 28px) scale(0%);
    transition: 300ms transform;
    transform-origin: top;
    cursor: auto;
}

.edit,
.delete {
    color: grey;
    font-size: 10px;
    margin: 5px;
}

.tooltip-content .arrow {
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: white;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%);
}

.week.event:hover .tooltip-content,
.week.event:active .tooltip-content {
    transform: translate(calc(-50% + 7px), 28px) scale(80%);
    transition: 75ms transform;
    transform-origin: top;
}

.week.event:hover {
    transform: scale(125%);
    transition: 300ms;
}