{% extends 'base.html' %}
{% load static %}

{% block content %}

  <section class="banner">
    <div class="container--col container--width">
      <blockquote class="banner__text banner__quote"><em>"Think of yourself as dead. You have lived your life. Now, take what’s left and <span class="text--accent">live it properly</span>."</em></blockquote>
      <p class="banner__text banner__quote--credit">— Marcus Aurelius</p>
    </div>
  </section>
  
  <section class="container container--width">
    <div class="container--col text--block">
      <h2 class="container__text--left text--block--h2">Counting the remaining weeks of your life seems like a distastefully morbid practice, but it doesn't have to be...</h2>
      <p class="container__text--left">
        It’s true — without any further context, thinking about your mortality is a depressing and pointless exercise.
        But the goal of Time of Your Life is not to bring you down. Rather, the opposite — I hope it helps you to have
        a better day. Not just today, but every day from here onwards.
      </p>
      <p class="container__text--left">
        There is a principle in Stoic philosophy called <em>Memento Mori</em>, a saying that translates from Latin as “remember death”.
        By stressing the importance of remembering one’s mortality, Stoic philosophers such as Seneca and Marcus Aurelius
        hoped to give each day a sense of urgency, meaning and fulfilment. They would remind themselves daily that none
        of us are getting off this ride alive, and in doing so they highlighted the importance of making the most of
        <em>today</em> — because ultimately today is all we really have.
      </p>
      <p class="container__text--left stars"><span class="star">*</span><span class="star">*</span><span class="star">*</span></p>
    
      <p class="container__text--left">
        Fast forward a couple of thousand years and lots of things have changed. We went through the Scientific Revolution,
        discovered bacteria, modern physics, invented the engine, electricity, built cars, then planes, then rockets, put a
        man on top of a rocket and sent him to the moon, invented nuclear weapons, computers, the internet, and now we’re 
        even preparing to colonise other planets... but for all this incredible progress, we still face the problem of death.
      </p>
      <p class="container__text--left">
        And so we must make consequential decisions about how to spend the time given to us. By visually showing you the time 
        that has passed you by, and the time you might yet have left, I hope Time of Your Life helps you to zoom out and gain 
        perspective on how you spend your days.
      </p>
      <p class="container__text--left">
        Unfortunately, there is nothing more finite than the time we have left to live, and any one of those future weeks in 
        your Life Calendar could be your last. So don’t put off the things that matter, and don’t waste the most valuable 
        resource you have — start that diet, quit that job you hate, go on that trip you’ve been dreaming of, ask that girl 
        out, change up your wardrobe... and for goodness’ sake call your mother once in a while — she’s worried sick.
      </p>
      <h2 class="container__text--left text--block--h2 more-info__heading">More info</h2>
      <p class="container__text--left">
        The idea for Time of Your Life came from an article titled <a class="link" href="https://waitbutwhy.com/2014/05/life-weeks.html" target="_blank">Your Life In Weeks</a>, written by Tim Urban on his blog <a class="link" href="http://waitbutwhy.com/" target="_blank">Wait But Why</a>. After reading the article I wanted an interactive version of a Life Calendar, so I built the first iteration of Time of Your Life with plans to add more features over time.
      </p>
      <p class="container__text--left">
         I highly recommend that you read the original article, as well as pretty much every other post on Wait But Why — they’re all very entertaining think pieces.
      </p>
      <p class="container__text--left">
        Time of Your Life was written with Python (Django) and some light JavaScript. The source code can be found on my GitHub page — <a class="link" href="https://github.com/juancoquet/time-of-your-life.git" target="_blank">https://github.com/juancoquet/time-of-your-life.git</a>
      </p>
      <p class="container__text--left">
        Follow me:
      </p>
        <ul class="socials">
          <li class="socials__item">
            <a class="link" href="https://instagram.com/juan_coquet" target="_blank"><img class="icon" src="{% static '/images/ig-logo.png' %}" />@juan_coquet</a>
          </li>
          <li class="socials__item">
            <a class="link" href="https://twitter.com/juancoquet" target="_blank"><img src="{% static '/images/twitter-logo.png' %}" alt="Twitter" class="icon">@juancoquet</a><span class="socials-text">(I never tweet, but maybe one day...)</span>
          </li>
        </ul>
    </div>
  </section>

{% endblock content %}