{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time of Your Life</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{% static '/css/base.css' %}">

    <!-- Datepicker -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <!-- End Datepicker -->

</head>
<body>
    <nav>
        <a id="home" href="/">Time of Your Life</a>
        <a id='feedback' href="{% url 'feedback' %}">Feedback</a>
        {% if not user.is_authenticated %}
            <a href="{% url 'account_signup' %}" id="id_signup">Sign up</a>
            <a href="{% url 'account_login' %}" id='id_login_link'>Log in</a>
        {% else %}
            <a id='id_logout' href="{% url 'account_logout' %}">Log out</a>
            <span class="profile" id="id_logged_in"><a href="{% url 'profile' pk=user.username %}">{{ user.username }}</a></span>
        {% endif %}
        <a href="/admin/"><button>Admin</button></a>
    </nav>

    {% block content %}
    {% endblock content %}


    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
</body>
</html>