{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B4ZDP6N6YL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-B4ZDP6N6YL');
    </script>
    <!-- End global site tag -->

    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <meta charset="UTF-8">
    
    <title>Time of Your Life</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:ital@0;1&family=Pacifico&family=Raleway:wght@700&display=swap" rel="stylesheet"> 

    <link rel="shortcut icon" href="{% static '/images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">

</head>



<body>

    <header>
        <nav>
            <ul class="nav-links">

                <li><a class="nav-links__link nav-links__link--logo" id="home" href="/">
                    <div class="logo--small">
                        <h1 class="logo__tyl--small">Time <span class="logo__of--small">of</span> Your Life</h1>
                    </div>
                </a></li>

                <input type="checkbox" class="nav-toggle" id="nav-toggle">
                <div class="container nav-links__container">
                    <label for="nav-toggle" class="nav-toggle-label">
                        <span></span>
                    </label>
                    <div class="container container--left width--fit">
                        <li><a class="nav-links__link" id='about' href="{% url 'about' %}">About</a></li>
                        <li><a class="nav-links__link" id='feedback' href="{% url 'feedback' %}">Feedback</a></li>
                        <li><a class="nav-links__link" id='contact' href="{% url 'contact' %}">Contact</a></li>
                    </div>
                    <div class="container container--right width--fit">
                        {% if not user.is_authenticated %}
                            <li><a class="nav-links__link" href="{% url 'account_login' %}" id='id_login_link'>Log in</a></li>
                            <li><a class="nav-links__link btn nav__btn" href="{% url 'account_signup' %}" id="id_signup">Sign up</a></li>
                        {% else %}
                            <li><a class="nav-links__link" id='id_logout' href="{% url 'account_logout' %}">Log out</a></li>
                            <li class="nav-links__link profile" id="id_logged_in"><a class="btn nav__btn" href="{% url 'profile' pk=user.username %}">{{ user.username }}</a></li>
                        {% endif %}
                    </div>
                </div>


            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

    {% comment %} <footer class="footer">
        <div class="container container--width footer__container">
            <p><a class="footer__text" href="mailto:info@timeofyourlife.io">info@timeofyourlife.io</a></p>
        </div>
    </footer> {% endcomment %}
    
    <script src="{% static '/js/tooltips.js' %}"></script>
</body>
</html>