{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time of Your Life</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:ital@0;1&family=Pacifico&family=Raleway:wght@700&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{% static '/css/base.css' %}">

    <!-- Datepicker -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <!-- End Datepicker -->

</head>



<body>

    <header>
        <nav>
            <ul class="nav-links">


                <div class="container container--left width--fit">

                    <li><a class="nav-links__link" id="home" href="/">
                        <div class="logo--small">
                            <h1 class="logo__tyl--small">Time <span class="logo__of--small">of</span> Your Life</h1>
                        </div>
                    </a></li>

                    <li><a class="nav-links__link" id='about' href="{% url 'about' %}">About</a></li>
                    <li><a class="nav-links__link" id='feedback' href="{% url 'feedback' %}">Feedback</a></li>
                    <li><a class="nav-links__link" id='contact' href="{% url 'contact' %}">Contact</a></li>
                </div>


                <div class="container container--right width--fit">
                    {% if not user.is_authenticated %}
                        <li><a class="nav-links__link" href="{% url 'account_login' %}" id='id_login_link'>Log in</a></li>
                        <li><a class="btn nav__btn" href="{% url 'account_signup' %}" id="id_signup">Sign up</a></li>
                    {% else %}
                        <li><a class="nav-links__link" id='id_logout' href="{% url 'account_logout' %}">Log out</a></li>
                        <li class="profile" id="id_logged_in"><a class="btn nav__btn" href="{% url 'profile' pk=user.username %}">{{ user.username }}</a></li>
                    {% endif %}
                </div>


            </ul>
        </nav>
    </header>


    {% block content %}
    {% endblock content %}


    <a href="/admin/"><button>Admin</button></a>


    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
</body>
</html>