{% extends 'base.html' %}

{% block content %}
  <h1>Your Life Calendar</h1>

    <div name="add_event">
        <h2>Add a life event</h2>
        <form action="{% url 'dashboard' %}" method="post">
            {% csrf_token %}
            <p class="form_field">
                <label for="user_event_form.event_name">Event name:</label>
                {{ user_event_form.event_name }}
            </p>
            <p class="form_field">
                <label for="user_event_form.event_date">Event date:</label>
                {{ user_event_form.day }}{{ user_event_form.month }}{{ user_event_form.year }}
            </p>
            <button name="add_event_btn" type="submit">Add event</button>
            <p class="error">{{ user_event_form.year.errors }}</p>
        </form>
    </div>

    <div class="grid">
            {{ calendar|safe }}
    </div>
{% endblock content %}