{% extends 'base.html' %}
{% block content %}

<div class="container--col container--width">

  <form class="container--col container--form neumorphism neumorphism--bg card card--margin-top" action="." method="post">
    {% csrf_token %}

    <h2 class="card__heading">Delete event</h2>
    <p>Are you sure you want to delete this event?</p>

    <div class="container--col--center container--width margin--top-bottom border--main">
      <h3 class="text--center">{{ event.event_name }}</h3>
      <p class="text--center">{{ event.event_date }}</p>
    </div>

    <button type="submit" class="btn button-delete">Delete</button>
    <a class="width--max" href="{% url 'dashboard' %}"><button type="button" class="btn btn--cancel">Cancel</button></a>
    
  </form>

</div>


{% endblock content %}