{% extends 'base.html' %}

{% block content %}
<div class="container--col container--width">
  
    <form class="container--col container--form neumorphism neumorphism--bg card card--margin-top" method="post">
      <h2 class="card__heading--margin-bottom">Edit event</h2>
      {% csrf_token %}
  

      {{ form.event_name }}
      <div class="container">{{ form.day }}<span class="text--main form__dash">—</span>{{ form.month }}<span class="text--main form__dash">—</span>{{ form.year }}</div>
  
      <button class="btn button-submit" type="submit">Update</button>
      <a class="width--max" href="{% url 'dashboard' %}"><button class="btn btn--cancel" type="button">Cancel</button></a>
  
      {% if form.errors %}
        <div class="errorlist-container">
          <ul class="errorlist">
            <li>{{ form.year.errors }}</li>
          </ul>
        </div>
      {% endif %}
  
  
    </form>
</div>
{% endblock content %}