{% extends 'base.html' %}

{% block content %}
    <h2>Your Life Calendar</h2>

    <div class="grid">
        <table>
            {% for yr_num in years_passed %}
                <tr class="year-row past" id="year-{{ yr_num }}">
                    {% for week_no in full_year_weeks %}
                        <td class="week past" id="{{ yr_num }}-{{ week_no }}">{{ week_no }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr class="year-row present" id="year-{{ current_year }}">
                {% for week_no in weeks_passed_this_yr %}
                    <td class="week past" id="{{ current_year }}-{{ week_no }}">{{ week_no }}</td>
                {% endfor %}
                <td class="week present" id="{{ current_week }}">{{ current_week }}</td>
                {% for week_no in weeks_left_this_yr %}
                    <td class="week future" id="{{ current_year }}-{{ week_no }}">{{ week_no }}</td>
                {% endfor %}
            </tr>
            {% for yr_num in future_years %}
                <tr class="year-row future" id="year-{{ yr_num }}">
                    {% for week_no in full_year_weeks %}
                        <td class="week future" id="{{ yr_num }}-{{ week_no }}">{{ week_no }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <div name="add_event">
        <h3>Add a life event</h3>
    </div>

{% endblock %}