{% extends 'base.html' %}

{% block content %}


    <div class="container--col container--width">
        <h1 class="container__heading--left">Your Life Calendar</h1>


        <div class="container container--wrap">
            <div class="calendar">

                {% for yr_num in years_passed %}
                    <div class="year-row past" id="year-{{ yr_num }}">
                        {% for week_no in full_year_weeks %}

                            {% if yr_num == event_year and week_no == event_week %}

                                <div class="all-tooltips">
                                    <div class="week past event" id="{{ yr_num }}-{{ week_no }}">
                                        <p class="week__number">{{ week_no }}</p>
                                    </div>
                                    <div class="tooltip">
                                        <div class="tooltip-content">
                                            <div class="arrow"></div>
                                            <div class="content"><h3>{{ event_name }}</h3>
                                                <p>{{ event_date }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    
                            {% else %}
                                <div class="week past" id="{{ yr_num }}-{{ week_no }}"><p class="week__number">{{ week_no }}</p></div>
                            {% endif %}

                        {% endfor %}
                    </div>
                {% endfor %}
                

                <div class="year-row present" id="year-{{ current_year }}">

                    {% for week_no in weeks_passed_this_yr %}
                        {% if current_year == event_year and week_no == event_week %}

                                <div class="all-tooltips">
                                    <div class="week past event" id="{{ current_year }}-{{ week_no }}">
                                        <p class="week__number">{{ week_no }}</p>
                                    </div>
                                    <div class="tooltip">
                                        <div class="tooltip-content">
                                            <div class="arrow"></div>
                                            <div class="content"><h3>{{ event_name }}</h3><p>{{ event_date }}</p></div>
                                        </div>
                                    </div>
                                </div>

                        {% else %}
                            <div class="week past" id="{{ current_year }}-{{ week_no }}"><p class="week__number">{{ week_no }}</p></div>
                        {% endif %}
                    {% endfor %}

                    {% if current_year == event_year and current_week == event_week %}

                            <div class="all-tooltips">
                                <div class="week present event" id="{{ current_week }}">
                                    <p class="week__number">{{ current_week }}</p>
                                </div>
                                <div class="tooltip">
                                    <div class="tooltip-content">
                                        <div class="arrow"></div>
                                        <div class="content"><h3>{{ event_name }}</h3><p>{{ event_date }}</p></div>
                                    </div>
                                </div>
                            </div>

                    {% else %}
                        <div class="week present" id="{{ current_week }}"><p class="week__number">{{ current_week }}</p></div>
                    {% endif %}


                    {% for week_no in weeks_left_this_yr %}
                        {% if current_year == event_year and week_no == event_week %}

                                <div class="all-tooltips">
                                    <div class="week future event" id="{{ current_year }}-{{ week_no }}">
                                        <p class="week__number">{{ week_no }}</p>
                                    </div>
                                    <div class="tooltip">
                                        <div class="tooltip-content">
                                            <div class="arrow"></div>
                                            <div class="content"><h3>{{ event_name }}</h3><p>{{ event_date }}</p></div>
                                        </div>
                                    </div>
                                </div>
                                
                        {% else %}
                            <div class="week future" id="{{ current_year }}-{{ week_no }}"><p class="week__number">{{ week_no }}</p></div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% for yr_num in future_years %}
                    <div class="year-row future" id="year-{{ yr_num }}">
                        {% for week_no in full_year_weeks %}
                            {% if yr_num == event_year and week_no == event_week %}

                                    <div class="all-tooltips">
                                        <div class="week future event" id="{{ yr_num }}-{{ week_no }}">
                                            <p class="week__number">{{ week_no }}</p>
                                        </div>
                                        <div class="tooltip">
                                            <div class="tooltip-content">
                                                <div class="arrow"></div>
                                                <div class="content"><h3>{{ event_name }}</h3><p>{{ event_date }}</p></div>
                                            </div>
                                        </div>
                                    </div>

                            {% else %}
                                <div class="week future" id="{{ yr_num }}-{{ week_no }}"><p class="week__number">{{ week_no }}</p></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
        </div>
        
        <form class="container--col container--form flex--start neumorphism neumorphism--bg card" action="{% url 'grid' dob=date_of_birth %}" method="post">
            <h2 class="container__heading--left card__heading">Add a life event</h2>
            <p class="card__text">
                Highlight an event on your Life Calendar — the birth of a child, the day you
                got married, a graduation, etc...
            </p>
            {% csrf_token %}
            {{ event_form.event_title }}
            <div class="container">{{ event_form.day }}<span class="text--main form__dash">—</span>{{ event_form.month }}<span class="text--main form__dash">—</span>{{ event_form.year }}</div>
            <p class="error">{{ event_form.year.errors }}</p>
            <button class="btn " name="add_event_btn" type="submit">Add event</button>
            <p class="card__text card__text--footnote">
                Create a free account to add and save multiple live events
            </p>
        </form>

    </div>


{% endblock %}