{% extends 'base.html' %}

{% block content %}


    <section class="banner">
        <div class="container--col container--width">

            <div class="logo--big">
                <h1 class="logo-big__logo-tyl">Time <span class="logo-big__logo-of">of</span> Your Life</h1>
            </div>


            <div class="container banner__container">

                <div class="container--left banner__container-left">
                    <h2 class="banner__text container__text--heading">Create a calendar of your life</h2>
                    <p class="banner__text">Enter your date of birth to get started</p>
                </div>


                <div class="container container--arrow">
                    <div class="arrow--right"></div>
                </div>

                
                <form class="container--col container--right neumorphism neumorphism--banner container--form height--fit" method="POST" action="/">
                    {% csrf_token %}
                    <div class="container">{{ dob_form.day }}<span class="banner__text text--main form__dash">—</span>{{ dob_form.month }}<span class="banner__text text--main form__dash">—</span>{{ dob_form.year }}</div>
                    <p class="error banner__error">{{ dob_form.year.errors }} </p>
                    <button class="btn banner__btn"name="create_button" type="submit">Create</button>
                </form>

            </div>

        </div>
    </section>



    <div class="container container--width" id="site-description">
        <h1>ignore the stuff down here</h1>
        <p>
            Time of Your Life helps you to see a bird's eye view of your life. Type your date of birth below to generate
            a Life Calendar — a grid of 4,680 boxes that each represent a week of your life, forming 90 rows that each
            represent a year. Weeks that you have already lived will be greyed out.
        </p>
    </div>


{% endblock content %}