<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time of Your Life</title>
</head>
<body>
    <h1>Time of Your Life</h1>
    <div id="site-description">
        <p>
            Time of Your Life helps you to see a bird's eye view of your life. Type your date of birth below to generate
            a Life Calendar — a grid of 4,680 boxes that each represent a week of your life, forming 90 rows that each
            represent a year. Weeks that you have already lived will be greyed out.
        </p>
        <button id="new-acc-btn" type="button">Create account</button>
    </div>
</body>
</html>